Repository DMGT-TECH/the-usher-server, pull requests merged in 2024-11, with the labels that each got.

#129 Topic /k1ch/ Introduce API `POST: clients/{client_id}/permissions`
  database/layer/admin-permission.js
  database/test/db-admin-permissions.test.js
  database/utils/pgErrorHandler.js
  server/src/api_endpoints/clients/permissions.js
  server/src/api_endpoints/clients/utils.js
  server/src/api_endpoints/personas/utils.js
  server/src/api_endpoints/roles/utils.js
  server/src/utils/token-utils.js
  server/test/endpoint_clients.test.js
  server/the-usher-openapi-spec.yaml
Labels: component: admin

#131 chore: Add mermaid documentation
  .github/workflows/publish-package.yml
  .github/workflows/run-tests.yaml
  diagrams/the_usher_entity_relationship_diagram.png
  docs/DATAMODEL.md
  docs/DEVELOP.md
  docs/INSTALL.md
  server/the-usher.js
Labels: bug, documentation

#132 Topic /k1ch/ introduce API `PUT:/roles/{role_key}/permissions`
  database/layer/admin-rolepermissions.js
  database/test/db-admin-rolepermissions.test.js
  server/src/api_endpoints/roles/permissions.js
  server/src/api_endpoints/roles/utils.js
  server/test/endpoint_admin_roles_permissions.test.js
  server/the-usher-openapi-spec.yaml
Labels: component: admin

#133 Topic/ k1ch / bump version to v2.4.0
  database/package-lock.json
  database/package.json
  server/package-lock.json
  server/package.json
  server/the-usher-openapi-spec.yaml
Labels: documentation
